/* todo: define color variables using root */
/* form button  */
.form-btn {
  cursor: pointer;
  transition: all 0.1s linear;
  border: 2px solid #2b2b2b;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  box-shadow: 0 3px 2px 2px #4e4e4e;
}

.form-btn:hover {
  filter: brightness(80%);
}

.form-btn:focus, 
.form-btn:disabled, 
.form-btn:active {
  box-shadow: none;
}

.form-btn:focus {
  outline: 2px solid white;
  border: 2px solid skyblue;
}

.form-btn:disabled {
  cursor: not-allowed;
  filter: none;
  transform: none;
}

.form-btn:active {
}
/* From Trigger */

.form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  z-index: 10000; /* header is 9999 */

  animation: fadeIn 0.3s ease-out
}

.form-overlay.remove {
  animation: fadeOut 0.3s ease-in forwards;
}

.form-page {
  padding: 2rem;
  background-color: white;
  position: relative;
  z-index: 10001;
}

.formTrigger {
}

.formTrigger__header {

}

.formTrigger__p {
  color: gray

}

.formTrigger__btn {
  color: white;
  background-color: black;
  background-color: green;
}


/* animation */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}


/* page break point: 768px */